body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f8f3;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
  }
  
  .quiz-container {
    background-color: #f9f8f3;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
    width: 320px;
  }
  
  .quiz-label {
    font-size: 16px;
    color: #4a4a4a;
    margin-bottom: 20px;
  }
  
  .quiz-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates two equal columns */
    gap: 1rem; /* Space between the grid items */
    margin: 1rem 0; /* Optional: adjust margin as needed */
  }
  
  .quiz-option {
    background-color: #f9f9f9; /* Background color for options */
    padding: 1rem; /* Padding for the option label */
    border: 2px solid transparent; /* Default border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor for interactivity */
    transition: border-color 0.3s; /* Smooth transition for border color */
  }
  
  .quiz-option.active {
    border-color: #a83256;
    background-color: #fff0f5;
  }
  
  .quiz-option input {
    display: none;
  }
  
  .quiz-option.active::before {
    content: '✔';
    color: #a83256;
    margin-right: 8px;
  }
  
  .start-quiz-btn {
    background-color: #a83256;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .start-quiz-btn:hover {
    background-color: #8b2946;
  }
  